#!/bin/bash

# Environment variables for running URBANopt via systemd.
# Copy this file to config.env. Do NOT commit this the config.env file
# to the git repository.

DJANGO_SETTINGS_MODULE=main.settings
DJANGO_SECRET_KEY=super-secret-key
POSTGRES_DB=bs-tool
POSTGRES_USER=bs-tool
POSTGRES_PASSWORD=super-secret-password
BSTOOL_ADMIN_USER=user1
BSTOOL_ADMIN_EMAIL=user1@buildingsync.net
BSTOOL_ADMIN_PASSWORD=super-secure-password