Django==3.2.25
django-bootstrap4==3.0.1
djangorestframework==3.12.4
djangorestframework-xml==2.0.0

# Do not upgrade to 2.9.10, which has a build issue with
# newer setup tools. BUT versions > 2.9.10 might work?
psycopg2-binary==2.9.7

semantic-version==2.10.0
xmlschema==4.1.0
xmltodict==1.0.2

# string matching
jellyfish==1.2.0

# schematron runner from TestSuite repo
# This also sets the version of lxml to use
testsuite==0.1.5

# production deployment
uWSGI==2.0.30; sys_platform != "win32"
