Django>=1.11
dj-database-url==0.2.1
coveralls==1.1
coverage==4.2
django-rest-swagger==2.1.2
djangorestframework==3.6.2
coreapi==2.3.0
whitenoise==3.2.2
psycopg2==2.6.1
gunicorn==19.6.0
uWSGI==2.0.15
xmlschema==0.9.9
tox==2.7.0
openpyxl==2.4.8
