body { 
  padding-top: 60px; 
  font-family: "open sans", Helvetica, sans-serif;
  background: #eee;
  font-size:0.9em;
}

.pad-10 {
	padding: 10px;
}

.pad-20 {
  padding: 20px;
}

.pad-top-40 {
  padding-top: 40px;
}

.pad-bot-20 {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#header {
	min-height: 60px;

}

#nav a, #nav a:hover, #nav a:focus {
	text-decoration: none;
  border-bottom: 0px;
}

#header h1 a {
  padding-top:8px;
  font-size: 1.4em;
    color: #fff;
}

#header h1 a:hover, #header h1 a:focus {
    text-decoration: none;
    color:#fff;
}

a:focus, a:hover {
	text-decoration: none;
    color:#fff;
}

.navbar-default {
  background-color: #2db1a6;
  border-color: #2db1a6;
}
.navbar-default .navbar-brand {
  color: #f4fafb;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #6d7478;
}
.navbar-default .navbar-text {
  color: #f4fafb;
}
.navbar-default .navbar-nav > li > a {
  color: #f4fafb;
  border-bottom: 0px;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #6d7478;
  border-bottom: 0px;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #2db1a6;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #f4fafb;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #6d7478;
  background-color: #2db1a6;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #2db1a6;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #6d7478;
  background-color: #2db1a6;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #6d7478;
  background-color: #2db1a6;
}
.navbar-default .navbar-toggle {
  border-color: #2db1a6;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2db1a6;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f4fafb;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f4fafb;
}
.navbar-default .navbar-link {
  color: #f4fafb;
}
.navbar-default .navbar-link:hover {
  color: #6d7478;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f4fafb;
    text-transform: uppercase;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #6d7478;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #6d7478;
    background-color: #2db1a6;
  }
}

.badge-accent {
  background-color:#2db1a6;
}

.badge-accent2 {
  background-color: #EFAF00;
}

.btn-accent {
    color: #fff;
    background-color: #2db1a6;
    border-color: #18AFA3;
}

.btn-accent2 {
  color: #fff;
  background-color: #EFAF00;
  border-color: #F4C43F;
}

.list-group-item-accent {
    color: #fff;
    background-color: #2db1a6;
}

.list-group-item-accent a {
  border-bottom: 0px;
}

header.major {
    margin: 0 0 2em 0;
}

.callout-box {
  margin-top:30px;
  border:1px solid #333;
  padding:30px;
}


/* colors */
.container h1, .container h2, .container h3, .container h4, .container h5, .container h6 {
  color: #333;
}

header.major h2, header.major h3, header.major h4, header.major h5, header.major h6 {
  border-bottom: solid 2px #333;
  color: #333;
}

header.major p {
  color: #333;
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
  background-color:#2e3842;
}

input[type="text"], select {
  color: #333;
 margin-bottom: 20px;
}

input {
  color:#333;
}

label {
  color: #333;
}

table th, table td {
  color: #333;
}

.container p {color: #333;}

span.helptext {color: #333;}
