{% extends 'base2.html' %}

{% load staticfiles %}

{% block title %}About{% endblock title %}

{% block content %}

<div class="container bsync-main">

	<p>Managing inconsistent audit data takes a lot of work. When auditors use different tools or file formats, program managers do the best they can to collect, combine, analyze and monitor this vital but frustrating information.</p>
	<p>The BuildingSync schema solves this problem. It's a standardized language for building energy audits that makes sharing and using audit data easy. Simply ask auditors to produce BuildingSync-compatible reports to leverage the power of standardized data.</p>

	<section id="services" class="services section-padding-sm">
		<div class="container">

			<div class="section-head text-center">
				<h5 class="tit">With BuildingSync, you can easily:</h5>
			</div>

			<div class="row">
				<div class="serv-row text-center">
					<div class="col-md-4">
						<div class="serv-item">
							<span class="icon-mobile"></span>
							<h6>Enhance the value of audit data</h6>
						</div>
					</div>

					<div class="col-md-4">
						<div class="serv-item">
							<span class="icon-speedometer"></span>
							<h6>Streamline audit reporting, saving staff time</h6>
						</div>
					</div>

					<div class="col-md-4">
						<div class="serv-item">
							<span class="icon-documents"></span>
							<h6>Eliminate spreadsheets and proprietary formats</h6>
						</div>
					</div>
				</div>

				<div class="serv-row text-center">
					<div class="col-md-4">
						<div class="serv-item">
							<span class="icon-layers"></span>
							<h6>Combine and analyze audits conducted by different companies</h6>
						</div>
					</div>

					<div class="col-md-4">
						<div class="serv-item">
							<span class="icon-bargraph"></span>
							<h6>Compare, share, and re-use instantly usable data</h6>
						</div>
					</div>

					<div class="col-md-4">
						<div class="serv-item">
							<span class="icon-dial"></span>
							<h6>Track audit data across the life of a building</h6>
						</div>
					</div>

					<div class="col-md-4">
						<div class="serv-item">
							<span class="icon-tools"></span>
							<h6>Exchange data between databases and software tools</h6>
						</div>
					</div>

					<div class="col-md-4">
						<div class="serv-item">
							<span class="icon-magnifying-glass"></span>
							<h6>Understand energy efficiency opportunities</h6>
						</div>
					</div>

					<div class="col-md-4">
						<div class="serv-item">
							<span class="icon-document"></span>
							<h6>Generate an Asset Score report with upgrade recommendations and a 1-10 efficiency rating</h6>
						</div>
					</div>

					<div class="col-md-4">
						<div class="serv-item">
							<span class="icon-adjustments"></span>
							<h6>Integrate audit information into property management tools</h6>
						</div>
					</div>

					<div class="col-md-4">
						<div class="serv-item">
							<span class="icon-puzzle"></span>
							<h6>Incorporate BuildingSync functionality into your own products, services or applications</h6>
						</div>
					</div>

					<div class="col-md-4">
						<div class="serv-item">
							<span class="icon-chat"></span>
							<h6>Leverage expert support from DOE and the National Renewable Energy Laboratory</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

  <p>Get started by downloading the <a href="https://github.com/BuildingSync/schema/releases" target="_blank">BuildingSync schema</a> or <a href="https://selectiontool.buildingsync.net/" target="_blank">validating</a> your use case.</p>
</div>

{% endblock content %}
