{% extends 'base2.html' %}

{% load staticfiles %}

{% block title %}Adopters{% endblock title %}

{% block content %}

<div class="container bsync-main">
	<section id="Adopters" class="adopters section-padding-sm">
		<div class="container">

			<div class="row">
				<div class="serv-row text-center">
					<div class="col-md-4">
						<div class="serv-item">
							<a href="https://www.pnnl.gov/" target="_blank"><img class="collab-image" src="{% static 'images/pnnl.png' %}" alt="PNNL logo"></a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="serv-item">
							<a href="http://psdconsulting.com/" target="_blank"><img class="collab-image" src="{% static 'images/psd.png' %}" alt="PSD logo"></a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="serv-item">
							<a href="https://buildee.com/" target="_blank"><img class="collab-image" src="{% static 'images/buildee.png' %}" alt="Buildee logo"></a>
						</div>
					</div>
				</div>

				<div class="serv-row text-center">

					<div class="col-md-4">
						<div class="serv-item">
							<a href="https://www.maalka.com/" target="_blank"><img class="collab-image" src="{% static 'images/maalka.png' %}" alt="Maalka logo"></a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="serv-item">
							<a href="https://brightpower.com" target="_blank"><img class="collab-image" src="{% static 'images/bright_power.png' %}" alt="Bright Power logo"></a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="serv-item">
							<a href="https://www.aecom.com/" target="_blank"><img class="collab-image" src="{% static 'images/aecom.png' %}" alt="AECOM logo"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="serv-row text-center">

					<div class="col-md-4">
						<div class="serv-item">
							<a href="https://brandnewbox.com" target="_blank"><img class="collab-image" src="{% static 'images/brand_new_box.png' %}" alt="Brand New Box logo"></a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="serv-item">
							<a href="https://www.lbl.gov/" target="_blank"><img class="collab-image" src="{% static 'images/berkley_lab_logo.svg' %}" alt="LBL logo"></a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="serv-item-sf">
							<a href="https://sfenvironment.org/" target="_blank"><img class="collab-image-sf" src="{% static 'images/sf_environment.png' %}" alt="SF Environment logo"></a>
						</div>
					</div>
				</div>
				<div class="serv-row text-center">
					<div class="col-md-4">
						<div class="serv-item">
							<div class="row">
								<div class="col-md-4 "><a href="https://www.audette.io/" target="_blank"><img class="collab-image" src="{% static 'images/audette.svg' %}" alt="Audette logo"></a></div>
								<div id="audette" class="col-md-8 no-border"><a href="https://www.audette.io/" target="_blank"><img class="collab-image pt-10" src="{% static 'images/audette-words.png' %}" alt="Audette"></a></div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="serv-item">

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

{% endblock content %}
