{% extends 'base2.html' %}

{% load staticfiles %}

{% block title %}Adopters{% endblock title %}

{% block content %}

  <div class="container bsync-main">
    <section id="Adopters" class="adopters section-padding-sm">
      <div class="container">
        <div class="row">
          <div class="serv-row text-center">
            <div class="col-md-4">
              <div class="serv-item">
                <a href="https://www.lbl.gov/" target="_blank" rel="noopener"><img class="collab-image" src="{% static 'images/berkley_lab_logo.svg' %}" alt="LBL logo"></a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="serv-item">
                <a href="https://buildee.com/" target="_blank" rel="noopener"><img class="collab-image" src="{% static 'images/buildee.png' %}" alt="Buildee logo"></a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="serv-item">
                <a href="https://www.erdc.usace.army.mil/Locations/CERL/" target="_blank" rel="noopener"><img class="collab-image" src="{% static 'images/cerl.png' %}" alt="CERL logo"></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="serv-row text-center">
            <div class="col-md-4">
              <div class="serv-item">
                <a href="https://doee.dc.gov/" target="_blank" rel="noopener"><img class="collab-image" src="{% static 'images/doee.jpg' %}" alt="DOEE logo"></a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="serv-item">
                <a href="https://openstudio.net/" target="_blank" rel="noopener"><img class="collab-image" src="{% static 'images/openstudio.png' %}" alt="OpenStudio logo"></a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="serv-item">
                <a href="https://www.pnnl.gov/" target="_blank" rel="noopener"><img class="collab-image" src="{% static 'images/pnnl.png' %}" alt="PNNL logo"></a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="serv-row text-center">
            <div class="col-md-4">
              <div class="serv-item">
                <a href="https://psdconsulting.com/" target="_blank" rel="noopener"><img class="collab-image" src="{% static 'images/psd.png' %}" alt="PSD logo"></a>
              </div>
            </div>

            <div class="col-md-4">
              <div class="serv-item-sf">
                <a href="https://sfenvironment.org/" target="_blank" rel="noopener"><img class="collab-image-sf" src="{% static 'images/sf_environment.png' %}" alt="SF Environment logo"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

{% endblock content %}
