{% extends 'bootstrap.html' %}

{% load bootstrap3 %}
{% load navtags %}
{% load staticfiles %}

{% block bootstrap3_extra_head %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="https://use.fontawesome.com/93619a2981.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'buildingsyncmain.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% block extra_head %}{% endblock %}
{% endblock bootstrap3_extra_head %}


{% block bootstrap3_content %}

 	<header id="header" role="banner">
        <div class="container">
        <h1>
            <a class="header" href="{% url 'home' %}">BuildingSync<sup>®</sup> Use Case Selection Tool</a>
        </h1>
        </div>
  </header>

  <nav class="navbar navbar-default navbar-static-top" id="floatingnav" role="navigation">
      <div class="container">
          <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                  <li class="{% active_page request 'datadictionaryelement'%}">
                      <a href="{% url 'dictionary' %}">
                          <i class="fa fa-search" aria-hidden="true"></i>
                          Schema Viewer
                      </a>
                  </li>
                  <li class="{% active_page request 'cases'%}">
                      <a href="{% url 'cases' %}">
                          <i class="fa fa-clone" aria-hidden="true"></i>
                          Use Cases
                      </a>
                  </li>
                  <li class="{% active_page request 'validator'%}">
                      <a href="{% url 'validator' %}">
                          <i class="fa fa-file-code-o" aria-hidden="true"></i>
                          Validator
                      </a>
                  </li>
                  <li class="{% active_page request 'bsync'%}">
                      <a href="https://buildingsync.net/index.html">
                        <i class="fa fa-building" aria-hidden="true"></i>
                        BuildingSync Website
                      </a>
                  </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  {% if user.is_authenticated %}
                      {% if request.user.is_staff %}
                          <li><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-lock"></span> Admin</a></li>
                      {% endif %}

                      <li class="{% active_page request 'profile' %}"><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> {{ request.user.get_username }}</a></li>
                      <li><a href="{% url 'logout' %}?next={% if return_to_page_on_login %}{{request.path}}{% else %}{% url 'login' %}{% endif %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                  {% else %}
                      <li class="{% active_page request 'login' %}"><a href="{% url 'login' %}{% if return_to_page_on_login %}?next={{request.path}}{% endif %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                  {% endif %}
              </ul>
          </div>
      </div>
  </nav>

  {% block content_notitle %}
    <div class="container">
      <div class="pad-10">

          <h1>{% block title %}(no title){% endblock %}</h1>

          {% bootstrap_messages %}

          {% block content %}(no content){% endblock %}
      </div>
    </div>
  {% endblock content_notitle %}

  <footer id="footer">
    <ul class="copyright">
      <p>BuildingSync<sup>®</sup> is a registered trademark of the Alliance for Sustainable Energy, LLC.</p>
      <p><a href="http://www.nrel.gov">NREL</a> is a National Laboratory of the U.S. Department of Energy, Office of Energy Efficiency and Renewable Energy, operated by the Alliance for Sustainable Energy, LLC.
    </ul>
  </footer>

{% endblock bootstrap3_content %}

{%  block content_test %}
{%  endblock content_test %}

 {% block base_extra_script %}
  {% block extra_script %}{% endblock %}
 {%  endblock base_extra_script %}
