{% extends 'base2.html' %}

{% load staticfiles %}

{% block title %}Collaborators{% endblock title %}

{% block content %}

  <div class="container bsync-main">
    <p>The following entities collaborated in the BuildingSync® development working group:</p>
    <h3>Industry collaborators</h3>
    <div class="list">
      <ul>
        <li>ACEEE</li>
        <li>AECOM</li>
        <li>AEI</li>
        <li>arbnco</li>
        <li>ASHRAE</li>
        <li>Audette</li>
        <li>Automatic Magic</li>
        <li>Big Ladder Software</li>
        <li>Brand New Box</li>
        <li>Bright Power</li>
        <li>BuildSimHub, Inc</li>
        <li>Carbon Exchange</li>
        <li>Carmel Software</li>
        <li>CIMNE</li>
        <li>City University of New York (CUNY)</li>
        <li>Code Green Solutions</li>
        <li>ComRent/IEEE</li>
        <li>Con Edison</li>
        <li>Cornell University</li>
        <li>CU Boulder</li>
        <li>DEPT</li>
        <li>Digital Alchemy</li>
        <li>EDC NYC</li>
        <li>Eley Consulting</li>
        <li>The Energy Coalition</li>
        <li>GBS-LLC</li>
        <li>Grumman/Butkus Associates</li>
        <li>Hitchcock Consulting</li>
        <li>HSA Fort Worth</li>
        <li>Intertek Building Science Solutions</li>
        <li>Interval Data Systems</li>
        <li>ISHRAE</li>
        <li>Kolderup Consulting</li>
        <li>kW Engineering</li>
        <li>L&S Energy Services</li>
        <li>Maalka</li>
        <li>NUS</li>
        <li>ORNL</li>
        <li>PassiveLogic</li>
        <li>Popli Design Group</li>
        <li>RPI</li>
        <li>S&P Fans</li>
        <li>Saudi Aramco</li>
        <li>Taylor Engineering</li>
        <li>TESS</li>
        <li>University of Cincinnati</li>
        <li>University of Santa Catarina</li>
        <li>VEIC</li>
        <li>Weidt Group</li>
      </ul>
    </div>
    <h3>National laboratories and government agencies</h3>
    <div class="list">
      <ul>
        <li>Federal Emergency Management Program (FEMP)</li>
        <li>Lawrence Berkeley National Laboratory (LBNL)</li>
        <li>National Renewable Energy Laboratory (NREL)</li>
        <li>New York City</li>
        <li>Pacific Northwest National Laboratory (PNNL)</li>
        <li>San Francisco Department of the Environment</li>
        <li>U.S. Department of Energy (DOE)</li>
      </ul>
    </div>
  </div>
{% endblock content %}
