{% extends 'base2.html' %}

{% load staticfiles %}

{% block title %}Collaborators{% endblock title %}

{% block content %}

<div class="container bsync-main">

	<p>The following entities collaborated in the BuildingSync® development working group:</p>
	<h3>Adopters</h3>
	<div class="list">
		<ul>
			<li>AECOM</li>
			<li>Audette</li>
			<li>Berkeley Lab</li>
			<li>Brand New Box</li>
			<li>Bright Power</li>
			<li>Buildee</li>
			<li>Carmel Software</li>
			<li>Code Green Solutions</li>
			<li>Performance System Development (PSD)</li>
			<li>PNNL</li>
			<li>SF Environment</li>
		</ul>
	</div>
	<h3>Industry collaborators</h3>
	<div class="list">
		<ul>
			<li>ActioNet</li>
			<li>Advanced Energy</li>
			<li>ASHRAE</li>
			<li>Building Energy</li>
			<li>Concept 3D</li>
			<li>Consortium for Building Energy Innovation (CBEI)</li>
			<li>Consortium for Energy Efficiency (CEE)</li>
			<li>Descartes</li>
			<li>ecoInsight</li>
			<li>EcoPros, LLC</li>
			<li>EMAT</li>
			<li>Empowered Energy Solutions</li>
			<li>The Energy Coalition</li>
			<li>EnergyAction</li>
			<li>FirstFuel</li>
			<li>Grumman/Butkus Associates</li>
			<li>Hitchcock Consulting</li>
			<li>kW Engineering</li>
			<li>Improvement Facilitation</li>
			<li>Institute for Market Transformation (IMT)</li>
			<li>kWhOURS</li>
			<li>L&S Energy Services</li>
			<li>National Home Performance Council (NHPC), now Home Performance Coalition (HPC)</li>
			<li>Performance Systems Development (PSD)</li>
			<li>Philips Lighting</li>
			<li>Philips Research North America</li>
			<li>Retroficiency</li>
			<li>Shakti Consultants, Inc.</li>
			<li>Smart Buildings Center</li>
			<li>Sustainable Energy Partnerships</li>
			<li>VCA Green</li>
			<li>Utility Systems Solutions, Inc.</li>
		</ul>
	</div>
	<h3>National laboratories and government agencies</h3>
	<div class="list">
		<ul>
			<li>California Energy Commission (CEC)</li>
			<li>Federal Emergency Management Program (FEMP)</li>
			<li>Ft. Carson U.S. Army Base</li>
			<li>Lawrence Berkeley National Laboratory (LBNL)</li>
			<li>National Renewable Energy Laboratory (NREL)</li>
			<li>New York City</li>
			<li>Pacific Northwest National Laboratory (PNNL)</li>
			<li>San Francisco Department of the Environment</li>
			<li>U.S. Department of Energy (DOE)</li>
		</ul>
	</div>
</div>
{% endblock content %}