{% extends 'base2.html' %}

{% load staticfiles %}

{% block title %}Contact{% endblock title %}

{% block content %}

  <div class="container bsync-main">
    <p class="big-margins">
      BuildingSync has a <a href="https://lists.buildingenergytools.org/g/BuildingSync" target="_blank" rel="noopener">Groups.io forum</a> where you can find, ask, and answer questions. To post, join
      the group or send your question to <a href="mailto:BuildingSync@lists.buildingenergytools.org">BuildingSync@lists.buildingenergytools.org</a>.
    </p>

    <p class="big-margins">
      Also, you can follow us on <a href="https://github.com/BuildingSync" target="_blank" rel="noopener">GitHub</a> as we make proposals, changes, and new releases.
    </p>
  </div>

{% endblock content %}
