{% extends 'base2.html' %}

{% load staticfiles %}

{% block title %}Contact{% endblock title %}

{% block content %}

  <div class="container bsync-main">
    <p class="big-margins">
      Please direct any questions to <a href="mailto:BuildingSync@ee.doe.gov">BuildingSync@ee.doe.gov</a>. Also, you can follow us on
      <a href="https://github.com/BuildingSync" target="_blank" rel="noopener">GitHub</a> as we make proposals, changes, and new releases.
    </p>

    <p class="big-margins">
      To subscribe to BuildingSync updates send a blank email to
      <strong>buildingsync+subscribe@googlegroups.com</strong> or visit the
      <a href="https://groups.google.com/g/buildingsync" target="_blank" rel="noopener"> BuildingSync Google group</a>.
    </p>
  </div>

{% endblock content %}
