{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}BuildingSync Schema Viewer{% endblock %}

{% block content_notitle %}

    <div class="container">

			 {% bootstrap_messages %}

        <header class="major">
        	<div class="row">
        		<div class="col-md-4">
        			<div class="pad-lr-20">
		            	<h2>Schema</h2>
		            	<div class="big-icon"><i class="fa fa-list-alt"></i></div>
		            	<p>Browse the BuildingSync<sup>&reg;</sup> schema elements.</p>
		            	<a class="btn btn-accent" href="{% url 'dictionary' %}" role="button">
	                        <i class="fa fa-search" aria-hidden="true"></i>
	                        Schema Viewer
	                    </a>
	                </div>
	            </div>
	            <div class="col-md-4">
	            	<div class="pad-lr-20">
		            	<h2>Use Cases</h2>
		            	<div class="big-icon"><i class="fa fa-copy"></i></div>
		            	<p>Browse the BuildingSync<sup>&reg;</sup> schema and existing use cases of the schema.</p>
		            	<p>Create new use cases that include specific parts of the BuildingSync schema.</p>
		            	<a class="btn btn-accent" href="{% url 'cases' %}" role="button">
	                        <i class="fa fa-copy" aria-hidden="true"></i>
	                        Use Cases
	                    </a>
	                </div>
	            </div>
	            <div class="col-md-4">
	            	<div class="pad-lr-20">
		            	<h2>Validator</h2>
		            	<div class="big-icon"><i class="fa fa-check-circle"></i></div>
		            	<p>Validate an xml against the BuildingSync schema or existing use cases of the schema.</p>
		            		<a class="btn btn-accent" href="{% url 'validator' %}" role="button">
	                        <i class="fa fa-file-code-o" aria-hidden="true"></i>
	                        Validate XML
	                    </a>
	                </div>
	            </div>
        	</div>
        </header>
    </div>

{% endblock content_notitle %}
