{% extends 'base2.html' %}

{% load staticfiles %}

{% block title %}References{% endblock title %}


{% block content %}

<div class="container bsync-main">
	<h3>Publications and Presentations</h3>

	<h4>2020</h4>

	<p><a href="{% static 'documents/Mosiman-BPAC-2020.pdf' %}" target="_blank">Mosiman, Cory, Nicholas Lee Long, Tobias Maile, Katherine Fleming and Christopher CaraDonna. 2020. “High-Level Model Articulation with BuildingSync and OpenStudio.” In ASHRAE and IBPSA-USA SimBuild 2020 Building Performance Analysis Conference, Virtual Conference.</a></p>

	<p>Long, Nicholas, Katherine Fleming, Cory Mosiman, Harry Bergmann, Mark Borkum, Ted Summer, Christopher Naismith. “BuildingSync Webinar.” September 11, 2020. <a href="https://nrel-seed.s3.us-east-1.amazonaws.com/resources/2020-09-11%20-%20BuildingSync%20Update%20Presentation.pdf">Webinar Presentation.</a>&nbsp;&nbsp;<a class="color-2 bold-link" href="https://nrel-seed.s3.us-east-1.amazonaws.com/resources/2020-09-11%20-%20BuildingSync%20Update%20Webinar.mp4" target="_blank">Webinar Recording</a></p>

	<h4>2018</h4>

	<p><a href="{% static 'documents/Hooper-ACEEE-BRICR.pdf' %}" target="_blank">Hooper, Barry, Tianzhen Hong, Daniel Macumber, Sang Hoon Lee, Yixing Chen, Nicholas Long, Edwin Lee, et al. 2018. “The BayREN Integrated Commercial Retrofits (BRICR) Project : An Introduction and Preliminary Results Overview of BRICR Software Tools and Workflow.” In 2018 ACEEE Summer Study on Energy Efficiency in Buildings, 1–12. Pacific Grove, CA.</a></p>

	<p><a href="{% static 'documents/DeGraw-ACEEE-BuildingSync-in-Action.pdf' %}" target="_blank">DeGraw, Jason, Kristin Field-Macumber, Nicholas Long, and Supriya Goel. 2018. “BuildingSync&reg; in Action : Example Implementations.” In 2018 ACEEE Summer Study on Energy Efficiency in Buildings, 1–12. Pacific Grove, CA.</a></p>

	<p><a href="{% static 'documents/Kelsey-ACEEE-Std211.pdf' %}" target="_blank">Kelsey, Jim. 2018. “Developing ASHRAE’s First Standard for Commercial Energy Audits (Or; How I Spent My Summer Vacations).” In 2018 ACEEE Summer Study on Energy Efficiency in Buildings, 1–14. Pacific Grove, CA.</a></p>

	<p><a href="http://www.kw-engineering.com/buildingsync-energy-audits-benefits/" target="_blank">Kelsey, Jim. 2018. “An XML-Ent Match Made in Energy Efficiency: BuildingSync and Energy Audits - KW Engineering.”</a></p>

	<p><a href="{% static 'documents/Taylor-ACEEE-Ordinances.pdf' %}" target="_blank">Taylor, Cody, Marc Costa, Nicholas Long, and Jayson Antonoff. 2016. “A National Framework for Energy Audit Ordinances.” In 2016 ACEEE Summer Study on Energy Efficiency in Buildings, 1–12.</a></p>

	<p><a href="https://www.ashrae.org/technical-resources/bookstore/standards-180-and-211" target="_blank">ASHRAE. 2018. “BSR/ASHRAE/ACCA Standard Standard 211-2018.” Atlanta, GA.</a></p>

	<h4>2017</h4>

	<p><a href="http://nesea.org/sites/default/files/session-docs/1705_data_driven_bergman.pdf" target="_blank">Bergmann, Harry. 2017. “DOE Building Energy Data Tools.”</a></p>

	<h4>2016</h4>

	<p><a href="{% static 'documents/Balbach-IBPSA-QAQC.pdf' %}" target="_blank">Balbach, Chris, and David Bosworth. 2016. “Automated Methods for Improving Energy Model Quality Assurance and Quality Control.” In ASHRAE and IBPSA-USA SimBuild 2016 Building Performance Modeling Conference, 385–92. Salt Lake City, UT.</a></p>

	<p><a href="http://cbei.psu.edu/wp-content/uploads/2016/07/Broadening-Use-of-DOE-BTO-Tools-in-the-SMSCB-Market.pdf" target="_blank">Cochran, Erica, and Alon Abramson. 2016. “Broadening Use of DOE BTO Tools in the SMSCB Market Report.”</a></p>

	<p><a href="{% static 'documents/Eley-IPBSA-StandardizeOutputs.pdf' %}" target="_blank">Eley, Charles. 2016. “Standardizing Energy Modeling Output.” In ASHRAE and IBPSA-USA SimBuild 2016, 365–71. Salt Lake City, UT.</a></p>

	<h4>2015</h4>
	<p> <a href="{% static 'documents/BuildingSync%20v1.0-legacy%20Implementation%20Guide.pdf' %}" target="_blank">Hendron, Robert and Deru, Michael. BuildingSync Implementation Guide Version 1.0.0. May 2015.</a></p>
</div>
{% endblock content %}
