{% extends 'base2.html' %}

{% load staticfiles %}

{% block title %}Technical Resources{% endblock title %}

{% block content %}

  <div class="container bsync-main">

    <h3>Guides</h3>
    <div class="list">
      <ul>
        <li><strong>Energy Auditing with BuildingSync</strong>: an interactive introduction to what BuildingSync is and how it relates to buildings, building systems, and energy audit reporting.
          <ul>
            <li><strong><a href="https://github.com/BuildingSync/schema/blob/develop-v2/docs/notebooks/bsync_examples/Small-Office-Level-1.md" target="_blank" rel="noopener">Small Office Level 1</a></strong></li>
            <li><strong><a href="https://github.com/BuildingSync/schema/blob/develop-v2/docs/notebooks/bsync_examples/Small-Office-Level-2.md" target="_blank" rel="noopener">Small Office Level 2</a></strong></li>
            <li><strong><a href="https://github.com/BuildingSync/schema/blob/develop-v2/docs/notebooks/bsync_examples/Primary-School-Levels1-2.md" target="_blank" rel="noopener">Primary School Levels 1-2</a></strong></li>
          </ul>
        </li>
        <li><a href="{% static 'documents/BuildingSync-on-boarding.pdf' %}" target="_blank"><strong>BuildingSync On-boarding Guide</strong></a>: a PDF documenting BuildingSync Use Cases, their implementation
          and publication.
        </li>
      </ul>
    </div>

    <h3>File Validation</h3>

    <p class="larger">For validation of BuildingSync XML files, the XML file undergoes a two-step validation process.</p>
    <div class="list">
      <ol>
        <li><h4>Validation against an XML XSD document</h4>
          <ul>
            <li>Download the most recent version of the <a href="{% url 'releases' %}">schema</a> and use an XML authoring tool to validate the XML instances.</li>
            <li>XSDs are used to <a href="https://www.youtube.com/watch?v=PpvX3izvRWU&list=PL73qvSDlAVViXEuAWaRFKul4gmYX9D-qL" target="_blank" rel="noopener">validate</a>:
              <ul style="margin-bottom:0">
                <li>Elements and attributes that may appear in an XML document</li>
                <li>Whether elements are required and how many are allowed</li>
                <li>Whether attributes are required</li>
                <li>Number and order of children</li>
                <li>Data types for elements and attributes</li>
                <li>Defaults and fixed values for elements and attributes</li>
              </ul>
            </li>
          </ul>
        </li>
        <li><h4>Validation using <a href="https://schematron.com/" target="_blank" rel="noopener">Schematron</a></h4>
          <ul>
            <li>Example BuildingSync schematron documents can be found in the <a href="https://github.com/BuildingSync/use-cases" target="_blank" rel="noopener">BuildingSync Use Cases GitHub
              repository</a>. XML authoring tools can be used to validate against Schematron docs.
            </li>
            <li>As opposed to an XSD, a Schematron document can be used to validate:
              <ul style="margin-bottom:0">
                <li>Elemental requirements on a use case basis. For example, requirements for ASHRAE Levels 1, 2, and 3 are different. Using the same base XSD, with three different Schematron
                  documents (one for each ASHRAE level), validates whether the document expresses all of the requirements to achieve each of the ASHRAE Level 1, 2, and 3 use cases.
                </li>
                <li>Constraints and requirements based on conditionals. For example, if an element is specified with a particular value, the applicable enumerations of another element may change.</li>
                <li>other logical statements.</li>
              </ul>
            </li>
          </ul>
        </li>
      </ol>
    </div>

    <p class="larger">Usage of both validation approaches (XSD and Schematron) is recommended for developers actively working on creating BuildingSync files.</p>

    <div class="list">
      <ul>
        <li>Validation against XSD for general correctness and usage of BuildingSync</li>
        <li>Validation against Schematron for understanding XML document requirements for different use cases</li>
      </ul>
    </div>

    <p class="larger">Additionally, there is an option to add a valid BuildingSync XML to the schema's continuous integration (CI) system. This will allow for the file to be tested during schema
      change/pull requests to ensure backward compatibility and validity. To add a BuildingSync instance to the CI, follow these steps:</p>

    <div class="list">
      <ol>
        <li>If you do not have a GitHub account, then sign up for one on <a href="https://github.com/" target="_blank" rel="noopener">GitHub</a></li>
        <li>Sign into GitHub and navigate to <a href="https://github.com/buildingsync/schema" target="_blank" rel="noopener">BuildingSync Schema's GitHub page</a></li>
        <li>Fork the repository and add new files to the <a href="https://github.com/BuildingSync/schema/tree/develop-v2/examples" target="_blank" rel="noopener">examples folder</a></li>
        <li>Create a pull request which will trigger the validation workflow. If it passes, then the BuildingSync team will accept the pull request after reviewing the changes. If it does not pass,
          the BuildingSync team will work with you to understand the issues. Note: The new file will be validated on every commit/change to the BuildingSync schema ensuring that all provided user's
          files pass successfully and are backward compatible.
        </li>
      </ol>
    </div>

    <h3 id="validation-against-schematron">Validation Against Schematron</h3>
    <p class="larger">Download the Schematron document
      <a
        onclick="saveAs('https://raw.githubusercontent.com/BuildingSync/assetscore-schematron-docs/master/docs/Audit_Template/New_York_City_Energy_Efficiency_Report.xml', 'New_York_City_Energy_Efficiency_Report.xml')"
        style="cursor:pointer;">
        Audit Template Example
      </a>
      and save to a known local path.
    </p>

    <p class="larger">In an XML editor, choose the <em>validate</em> drop down, and select <em>validate with</em>:</p>
    <div class="screenshot">
      <img src="{% static 'images/sch1.png' %}" alt="schematron validation 1"/>
    </div>
    <div class="screenshot">
      <img src="{% static 'images/sch2.png' %}" alt="schematron validation 2"/>
    </div>
    <p class="larger">The Schematron validator will provide very verbose errors specific to the use case. Note that schematron will generate errors on both the 'BuildingSync Website Valid Schema.xml'
      and 'BuildingSync Website Invalid Schema.xml' documents, because while these are valid according to the XSD, they do not conform to the use case requirements:</p>
    <div class="screenshot">
      <img src="{% static 'images/sch3.png' %}" alt="schematron validation 3"/>
    </div>
  </div>
  <!-- filesaver -->
  <script src="{% static 'js/filesaver.js' %}"></script>
{% endblock content %}
