{% load navtags %}
<div class="collapse navbar-collapse" id="custom-collapse">

  <ul class="nav navbar-nav navbar-right">

    <li class="nav-card">
      <a href="/">Home</a>
    </li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Getting Started</a>
      <ul class="dropdown-menu">

        <li class="{% active_page request 'implementers' %}"><a href="{% url 'implementers' %}">Implementers</a></li>
        <li class="{% active_page request 'auditors' %}"><a href="{% url 'auditors' %}">Auditors</a></li>
        <li class="{% active_page request 'practitioners' %}"><a href="{% url 'practitioners' %}">Building and City Practitioners</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools</a>
      <ul class="dropdown-menu">
          <li class="nav-card {% active_page request 'tools'%}"><a href="{% url 'tools' %}">List</a></li>
          <li class="{% active_page request 'validators' %}"><a %}" href="{% url 'validator' %}">Validator</a></li>
      </ul>
    </li>



    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Schema</a>
      <ul class="dropdown-menu">
        <li class="{% active_page request 'dictionary' %}"><a href="{% url 'dictionary' %}">Current Schema Release</a></li>
        <li class="{% active_page request 'releases' %}"><a href="{% url 'releases' %}">All Releases</a></li>
      </ul>
    </li>

    <li class="nav-card {% active_page request 'cases'%}"><a href="{% url 'cases' %}">Use Cases</a></li>

    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources</a>
      <ul class="dropdown-menu" role="menu">

        <li class="{% active_page request 'references' %}"><a href="{% url 'references' %}">References</a></li>
        <li class="{% active_page request 'case_study' %}"><a href="{% url 'case_study' %}">Case Study</a></li>
        <li class="{% active_page request 'mlod' %}"><a href="{% url 'mlod' %}">Model Level of Detail Definitions</a></li>
        <li class="{% active_page request 'technical_resources' %}"><a href="{% url 'technical_resources' %}">Technical Resources</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a href="{% url 'about' %}" class="dropdown-toggle {% active_page request 'about'%}" data-toggle="dropdown">About</a>
      <ul class="dropdown-menu" role="menu">
        <li class="{% active_page request 'collaborators' %}"><a href="{% url 'collaborators' %}">Collaborators</a></li>
        <li class="{% active_page request 'adopters' %}"><a href="{% url 'adopters' %}">Current Adopters</a></li>
        <li class="{% active_page request 'faq' %}"><a href="{% url 'faq' %}">FAQ</a></li>
      </ul>
    </li>

{#    Hiding this login logic for now until use cases start happeneing more frequently #}
{#    {% if user.is_authenticated %}#}
{#      <li class="dropdown">#}
{#        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account</a>#}
{#        <ul class="dropdown-menu" role="menu">#}
{#          <li><a href="{% url 'admin:index' %}">Admin Site</a></li>#}
{#          <li class="{% active_page request 'profile' %}"><a href="{% url 'profile' %}">{{ request.user.get_username }} Profile</a></li>#}
{#          <li><a href="{% url 'logout' %}?next={% if return_to_page_on_login %}{{request.path}}{% else %}{% url 'login' %}{% endif %}">Logout</a></li>#}
{#        </ul>#}
{#      </li>#}
{#    {% else %}#}
{#      <li class="nav-card {% active_page request 'login' %}"><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a></li>#}
{#    {% endif %}#}
<!--
    <li class="dropdown nav-search">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search" aria-hidden="true"></i></a>
      <ul class="dropdown-menu" role="menu">

        <li>
          <input type="text" name="search" placeholder="Search">
        </li>

      </ul>
    </li> -->

  </ul>
</div>
