{% extends 'base2.html' %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block title %}Use Case Validator{% endblock title %}


{% block content %}


  <div class="container"style="padding-top: 5em; padding-bottom: 15em">
    <p style="text-align: left; padding-bottom: 3em">Validate your XML against the BuildingSync schema and its use cases. View the <a href="https://github.com/buildingsync/selection-tool#validator">Use Case Validator API docs</a> on GitHub.</p>

    <div class="row">
      <div class="col-md-6 ml-6">
        <div class="panel panel-accent">
          <div class="panel-heading">
            <h3 class="panel-title">Upload XML</h3>
          </div>
          <div class="panel-body pad-bot-custom">
            <form enctype="multipart/form-data" role="form" method="post">
              {% csrf_token %}
              {% bootstrap_form load_xml_file_form %}
              {% buttons submit='Upload File' reset="Cancel" %}{% endbuttons %}
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 ml-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Explore Examples</h3>
          </div>
          <div class="panel-body">
            <form role="form" method="post">
              {% csrf_token %}
              {% bootstrap_form load_xml_example_form %}

              <button class="btn btn-accent2" type="submit">Validate</button>
              <button class="btn btn-accent2" type="submit" name="download">Download Examples</button>

              <div class="pull-right pt-2"><a href="https://github.com/BuildingSync/schema/tree/develop/examples">View More XML Examples <i class="fa fa-external-link" aria-hidden="true"></i></a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
