[Unit]
Description=selectiontool
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/local/bin/docker-compose -f docker-compose.yml -f ../docker-compose.docker.yml up
ExecStop=/usr/local/bin/docker-compose -f docker-compose.yml -f ../docker-compose.docker.yml stop

[Install]
WantedBy=multi-user.target