@import url("https://use.fontawesome.com/93619a2981.css");
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400, 400italic, 600, 600italic, 800, 800italic|PT+Sans+Narrow:400, 700');*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap");

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 1em;
}

.bold {
  font-weight: bold;
}

a {
  color: #3ba6dd;
}

a:focus,
a:hover {
  text-decoration: none;
}

.h1,
h1 {
  font-size: 2rem;
}

.h2,
h2 {
  font-size: 1.8rem;
}

.h3,
h3 {
  font-size: 1.5rem;
}

.h4,
h4 {
  font-size: 1.3rem;
}

/* colors */
.red {
  color: #d75452 !important;
}

.green {
  color: green;
}

.badge-red {
  background-color: #d75452;
}

.badge-green {
  background-color: green;
}

.light-blue {
  color: #3ba6dd;
}

.dark-blue {
  color: #005191;
}

.bg-blue {
  background-color: #005191 !important;
}

/* header & nav */

#header {
  min-height: 70px;
}

.header-logo {
  width: 20%;
  float: left;
}

.header-logo img {
  height: 65px;
  padding-top: 5px;
}

#header .header-links {
  width: 28%;
  padding-right: 20px;
  padding-top: 35px;
  color: #4d4d4d;
  float: right;
}

.header-links a {
  color: #4d4d4d;
}

.header-links li {
  padding-left: 1rem;
}

header.major {
  margin: 0 0 1em 0;
}

.navbar-blue {
  color: #fff;
  padding: 0 1rem;
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

li.nav-item {
  padding: 0 2rem;
  border-right: 2px solid #3ba6dd;
}

li.nav-item:last-child {
  border: 0;
}

a.nav-link {
  color: #fff;
}

li.nav-item.active a.nav-link {
  color: #3ba6dd;
}

.dropdown-toggle::after {
  color: #3ba6dd;
  font-size: 1.8em;
  vertical-align: 0.1em;
}

nav .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 11rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  list-style: none;
  background-color: #005191;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

nav .dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  color: #fff;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-weight: bold;
  font-size: 1rem;
}

nav .dropdown-item:hover,
.dropdown-item:focus {
  color: #3ba6dd;
  background-color: #005191;
}

nav .dropdown-item.active,
.dropdown-item:active {
  color: #3ba6dd;
  text-decoration: none;
  background-color: #005191;
}

.dropdown-menu {
  padding-left: 20px;
}

.home-banner {
  width: 100%;
}

.home-leftcol {
  background-color: #e8e8e8;
  color: #000;
  padding: 1rem 1.5rem 0.5rem 1.5rem;
}

p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.home-bigtext {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.home-standard {
  background: url("/static/images/data-standard-background-01.png");
  padding: 2rem 1rem;
  background-size: 100% 100%;
  min-width: 200px;
  min-height: 240px;
}

.home-standard-text {
  padding-top: 4rem;
  color: #fff;
}

.card-dkblue {
  background-color: #005191;
  color: #fff;
}

.card-ltblue {
  background-color: #3ba6dd;
  color: #fff;
}

.card-ltblue a,
.card-dkblue a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}

.home-standard-text a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

.icon-col {
  font-size: 1.8rem;
}

.home-row {
  margin-left: 0;
  margin-right: 0;
}

#footer {
  margin-top: 1rem;
  padding: 1rem 1rem 1rem 0;
  background-color: #e8e8e8;
  border-top: 2px solid #8295a1;
}

.footer-logo {
  width: 20%;
  margin-left: 1rem;
  float: left;
}

.footer-logo img {
  height: 65px;
}

#app-version {
  font-size: 10px;
  text-align: center;
  color: #333;
  padding-top: 20px;
}

.container {
  margin-top: 1rem;
}

.btn-primary {
  background-color: #005191;
}

.treeview .list-group-item {
  cursor: pointer;
}

.treeview span.indent {
  margin-left: 10px;
  margin-right: 10px;
}

.treeview span.icon {
  width: 12px;
  margin-right: 5px;
}

.treeview .node-disabled {
  color: silver;
  cursor: not-allowed;
}

.hidden > div {
  display: none;
}

.visible > div {
  display: block;
}

#schematree a,
#schematree a:hover {
  border-bottom: 0;
}

ul.errorlist li {
  color: red;
}

.panel {
  color: #333;
  background-color: #f2f2f2;
  margin-bottom: 1rem;
}

.panel-heading {
  background-color: #3ba6dd;
  color: #fff;
  padding: 0.3rem 1rem;
}

.panel-title a,
.panel-title a:hover {
  color: #333;
  border-bottom: 0;
}

.panel-body {
  padding: 1rem;
}

.panel-accent .panel-heading {
  background-color: #005191;
  padding: 0.3rem 1rem;
}

.panel-accent .panel-heading a,
.panel-default .panel-heading a {
  color: #fff;
}

.panel-accent .panel-heading .panel-title {
  color: #fff;
}

.badge-accent {
  background-color: #005191;
}

.badge-accent2 {
  background-color: #efaf00;
}

.btn-default {
  color: #000;
  background-color: #f2f2f2;
}

.btn-accent {
  color: #fff;
  background-color: #005191;
}

.btn-accent a:hover,
.btn-accent a:focus {
  color: #fff;
}

.btn-accent2 {
  color: #fff;
  background-color: #3ba6dd;
}

.btn-accent2 a:hover,
.btn-accent2 a:focus {
  color: #fff;
}

.list-group-item-accent .list-group-item-selected {
  color: #fff;
  background-color: #005191;
}

.list-group-item-accent a {
  border-bottom: 0;
}

.callout-box {
  margin-top: 30px;
  border: 1px solid #333;
  padding: 30px;
}

.parsing-errors {
  margin-top: 30px;
  padding: 30px 10px;
  color: #333;
}

table td {
  color: #333;
}

table th {
  color: #000;
  font-size: 1.1em;
  font-weight: bold;
}

.wrap-it {
  word-wrap: break-word;
}
