{% extends "admin/base.html" %}
{% block extrahead %}
<style>
  #branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 500;
  }

  #header, .module caption, div.breadcrumbs {
    background: #005191;
  }
</style>
{% endblock %}


{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
