<div>
    <span ng-click="grid.appScope.toggleAttribute(row.entity, col.colDef.use_case_id, true)">
        <input type="checkbox" ng-checked="row.entity.required_use_cases.indexOf(col.colDef.use_case_id) !== -1"
               class="no-click" id="required">
        <label for="required">Req</label>
    </span>
    <span ng-click="grid.appScope.toggleAttribute(row.entity, col.colDef.use_case_id, false)">
        <input type="checkbox" ng-checked="row.entity.optional_use_cases.indexOf(col.colDef.use_case_id) !== -1"
               class="no-click" id="optional">
        <label for="optional">Opt</label>
    </span>
</div>
