<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12">
            <h1>Overview</h1>
            <p>
                This tool is used to take the entire relevant portion of the BuildingSync schema, currently at <a
                    href="https://github.com/BuildingSync/schema/releases/tag/v2.0.0-legacy">Version 2.0.0</a>, and
                allow down-selection of the attributes for a given specific use case.
            </p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <hr>
            <h1>Use Cases</h1>
            <table class="table table-striped">
                <tr>
                    <th>Use Case ID</th>
                    <th>Use Case Nickname</th>
                    <th>Show/Hide this Use Case</th>
                    <th>Actions</th>
                    <th>Edit</th>
                </tr>
                <tr ng-repeat="x in useCases">
                    <td>{$ x.id $}</td>
                    <td>{$ x.nickname $}</td>
                    <td>
                        <input type="checkbox" ng-model="x.show" ng-checked="x.show" ng-change="updateSelection(x)"/>
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="exportUseCase(x)">Export</button>
                        <button class="btn btn-danger" ng-click="deleteUseCase(x)">Delete</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="copyUseCase(x)">Copy</button>
                        <button class="btn btn-primary" ng-click="renameUseCase(x)">Rename</button>

                    </td>
                </tr>
            </table>
            <div class="col-md-7">
                <form class="form-group row" ng-submit="addBlankUseCase()">
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="useCaseName" size="50"
                               placeholder="New Use Case Name">
                    </div>
                    <div class="col-md-4">
                        <input class="btn btn-primary" type="submit" value="Add New Use Case">
                    </div>
                </form>
            </div>
            <div class="col-md-5">
                <form class="form-group row">
                    <div style="text-align:center;">
                        <input class="ng-hide" ng-model="filePath" on-read-file="importUseCase($fileContent)"
                               id="input-file-id" type="file"/>
                        <label for="input-file-id" class="btn btn-primary" style="float:center">Import Use Case From
                            File</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <hr>
            <h1>Schema "{$ schema_nickname $}"</h1>
            <div>
                <button class="btn btn-warning" ng-show="schema_missing" ng-click="addMissingSchema()">Initialize
                    Schema
                </button>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <p>
                The checkbox cells in the schema grid below include three checkboxes: Req (required), Opt (optional),
                and Ign (ignored).
            <ul class="list-group">
                <li class="list-group-item">Required means an instance file is invalid if it does not contain this
                    attribute.
                </li>
                <li class="list-group-item">Optional indicates the attribute may be interpreted for this use case,
                    but not necessary.
                </li>
                <li class="list-group-item">Ignored means this will not be checked on an instance file.</li>
            </ul>
            </p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <div id="grid1" ui-grid="gridOptions" ui-grid-grouping ui-grid-selection class="grid"></div>
        </div>
    </div>
</div>
