<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12">
            <h1>Overview</h1>
            <p>
                This tool is used to take the entire relevant portion of the BuildingSync schema, currently at <a
                    href="https://github.com/BuildingSync/schema/releases/tag/v2.0.0-legacy">Version 2.0.0</a>, and
                allow down-selection of the attributes for a given specific use case.
            </p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <hr>
            <h1>Use Cases</h1>
            <table class="table table-striped">
                <tr>
                    <th>Use Case ID</th>
                    <th>Use Case Nickname</th>
                    <th>Show/Hide this Use Case</th>
                    <th>Actions</th>
                </tr>
                <tr ng-repeat="x in useCases">
                    <td>{$ x.id $}</td>
                    <td>{$ x.nickname $}</td>
                    <td><input type="checkbox" ng-model="x.show" ng-checked="x.show" ng-change="updateSelection(x)"/></td>
                    <td>
                        <button class="btn btn-success" ng-click="copyUseCase(x)">Copy</button>
                        <button class="btn btn-success" ng-click="renameUseCase(x)">Rename</button>
                        <button class="btn btn-success" ng-click="exportUseCase(x)">Export</button>
                        <button class="btn btn-danger" ng-click="deleteUseCase(x)">Delete</button>
                    </td>
                </tr>
            </table>
            <form class="form-group row" ng-submit="addBlankUseCase()">
                <div class="col-md-4">
                    <input type="text" class="form-control" ng-model="useCaseName" size="50"
                           placeholder="New Use Case Name">
                </div>
                <div class="col-md-4">
                    <input class="btn btn-primary" type="submit" value="Add New">
                </div>
            </form>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <hr>
            <h1>Schema "{$ schema_nickname $}"</h1>
            <button class="btn btn-warning" ng-show="schema_missing" ng-click="addMissingSchema()">Initialize Schema</button>
            <div id="grid1" ui-grid="gridOptions" ui-grid-grouping ui-grid-selection class="grid"></div>
        </div>
    </div>
</div>
