{% extends 'bsviewer/base.html' %}

{% load bootstrap3 %}

{% block title %}Add Use Case{% endblock %}

{% block content %}
	<div class="container">
    	<div class="row">
    		<div class="col-md-6">
				<form action="" method="post">
				    {% csrf_token %}
				    {{ form.as_table }}
				    <div class="pad-20">
				    	<button type="submit">Submit</button>
				    </div>	
				</form>
			</div>
			<div class="col-md-4 col-md-offset-2">
				<div class="callout-box">
					<h2>Mapping Template</h2>
					<p>Select a schema version on the left to generate a mapping template.  Fill out this template and upload to map your use case to BuildingSync schema.</p>
					<span class="pad-20"><a class="btn btn-accent" href="{% url 'bsviewer:cases' %}" role="button">
                        <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
                        Download Template
                    </a></span>
				</div>
			</div>	
		</div>
	</div>		
{% endblock content %}