{% extends 'buildingsync/base.html' %}

{% block additional_js_in_head %}
    {% load static %}
    <script src="{% static 'js/bs_selection.js' %}"></script>
{% endblock %}

{% block main_body %}
    <div class="container-fluid" ng-app="BsSelection" ng-init="get_schema_url='{% url "buildingsync:get_schema" %}'">
        <div class="row-fluid">
            <div class="col-md-10">
                <h1>Overview</h1>
                <p>
                    This tool is used to take the entire relevant portion of the BuildingSync schema, currently at <a
                        href="https://github.com/BuildingSync/schema/releases/tag/v2.0.0-legacy">Version 2.0.0</a>, and
                    allow down-selection of the attributes for a given specific use case.
                </p>
                <h1>Status</h1>
                <p>
                    This app is currently in development with some known issues including:
                </p>
                <ul class="list-group">
                    <li class="list-group-item">Parsing of Schema coming back with bad tree leveling</li>
                    <li class="list-group-item">Need to add export/import of specific use case</li>
                    <li class="list-group-item">Nested lists should use tri-state checkboxes</li>
                    <li class="list-group-item">Potentially drop this inside SEED</li>
                </ul>
            </div>
        </div>
        <div class="row-fluid" ng-controller="BsController">
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="x in useCases">{{ x.nickname }}</li>
                </ul>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-12">
                <ng-view></ng-view>
            </div>
        </div>
    </div>
{% endblock %}

{#// What's the advantage here of using routing?  Is it purely so that the page can load and then the callback to the API can be made to get data later?#}
{#// How can I pass a variable to the route provider specifying the get_schema endpoint?  I've got it passed into the $scope via ng-init, but I'm curious about better ways?#}


{#// Why won't my ng-repeat work?  I have the variable defined on $scope in the controller, but I believe it is something to do with the routing.#}

{#// How should I actually be slicing this page up?  Multiple controllers?  Multiple apps entirely?#}